<div class="col-12"><span class="detailsDescription">{{ translator[data.Description] }} </span></div>

<div *ngIf="formatAsNormal.includes(data.Description)" class="col-12">
  <div class="input-group mb-3">
    <input type="text" class="form-control currencyInput" placeholder="{{ translator[data.Description] }}" value="">
  </div>
</div>

<div *ngIf="formatAsDate.includes(data.Description)" class="col-12">
    <input type="date" class="form-control styledDatepicker" placeholder="{{translator[data.Description]}}">
</div>

<div *ngIf="formatAsTextArea.includes(data.Description)" class="col-12">
    <textarea class="form-control currencyInput justifyText" rows="4"  placeholder="{{translator[data.Description]}}"></textarea>
</div>


<div *ngIf="formatAsCurrency.includes(data.Description)" class="col-12">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text currencySymbolContainer">€</span>
        </div>
        <input type="number" class="form-control currencyInput" step="0.01">
      </div>
</div>


<div *ngIf="formatAsImage.includes(data.Description)" class="col-12">

    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile">
      <label class="custom-file-label" for="customFile">Selecionar foto</label>
    </div>

</div>

<div *ngIf="formatAsRadioBtn.includes(data.Description)" class="col-12">
  <label class="switch">
    <input type="checkbox" [checked]="false" (click)="updateState($event, data.Description)">
    <span class="slider round"></span>
  </label>
</div>

<hr *ngIf="data.Description !== 'id'" class="detailsHr" />
