<form (ngSubmit)="onSubmit()" #SupplierForm="ngForm">

  <div class="col-12 marginTop">
    <span class="detailsDescription">Nome do Fornecedor</span>
  </div>

  <div class="col-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control currencyInput marginTop" required placeholder="Nome do Fornecedor"  name="Name" [(ngModel)]="_newSupplier.Name">
    </div>
  </div>

  <div class="col-12 centerBtn">
    <button class="btn space btn-dark btn-fuscia"
      [disabled]="SupplierForm.invalid">
      Gravar
    </button>
    <button class="btn btn-dark" [routerLink]="['/listagem-de-cheques']">Voltar</button>
  </div>
</form>

<hr class="detailsHr" />
<div class="row" *ngFor="let item of suppliers" >

  <div class="col-9 alignTextToCenter">
    <b>{{item.name}}</b>
  </div>
  <div class="col-2 alignTextToCenter">
    <a (click)="onDelete($event, item.id);" class="btn btn-sm text-danger">
      <i class="fa fa-remove"></i>
    </a>
  </div>

  <hr class="detailsHr" />
</div>
