@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

nav{
  background-color: #D2005C;
  position: sticky;
}

.topnav {
  overflow: hidden;
  position: sticky;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  display: block;
}

.topnav .icon{
  margin-left: 3%;
}

.topnav .col-12 .icon i{
  color: white;
}

.menu-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  margin-left: 5%;
}

.topnav #myLinks {
  display: none;
  text-align: center;
}

.topnav #myLinks a{
  text-decoration: none;
  color: white !important;
  font-size: 20px;
  border-top: 1px solid rgba(255, 255, 255, .08);
}
