<nav class="row topnav">
  <div class="col-12">
    <a href="javascript:void(0);" class="icon" (click)="myFunction($event)">
      <i class="fa fa-bars"></i>
      <span class="menu-title"><b>{{pageTitle}}</b></span>
    </a>
  </div>
  <div class="col-12" id="myLinks">
    <a [routerLink]="['/listagem-de-cheques']" (click)="myFunction($event)"> Lista de Cheques</a>
    <a [routerLink]="['/lista-de-cheques-pagos-ou-anulados']" (click)="myFunction($event)">Cheques Pagos/Anulados</a>
    <a [routerLink]="['/adicionar-novo-cheques']" (click)="myFunction($event)">Novo Cheque</a>
    <a [routerLink]="['/criar-fornecedor']" (click)="myFunction($event)">Adicionar Fornecedor</a>
  </div>
</nav>
