<div class="row">
  <div class="col-8 title-boot"><b>Dados dos Cheque</b></div>
  <div class="col-4 value-boot"><b>Valor (€)</b></div>
</div>

<section class="content">

  <div class="row">
    <div *ngFor="let item of draftList" class="col-12">
        <abd-draft-paid-and-canceled-list-item [draftList]="item"></abd-draft-paid-and-canceled-list-item>
    </div>
  </div>

</section>
