body, html{
    margin: 0;
    padding: 0;
}

.margins{
  margin-top: 5%;
  margin-bottom: 5%;
}

a{
    color: black !important;
}

.borderBottom{
    border-bottom: 1px solid lightgrey;
}

.rowHeader{
    color: white;
    background-color: #D2005C;
}

.header-boot{
    background-color: #97CDB4;
}

.menu-boot{
    font-size: 30px;
    /* background-color: #FD706D; */
}

.title-boot{
    font-size: 30px;
    background-color: #FD706D;
}

.value-boot{
    font-size: 30px;
    background-color: #FD706D;
}

.content-boot{
    font-size: 30px;
    /* background-color: #FECB65; */
}

.data-boot{
    /* background-color: #548BA4; */
}

.footer-boot{
    background-color: #97CDB4;
}

.checkData{
    font-size: 34px;
}

.textSize{
    font-size: 48px;
}


@media screen and (max-width: 360px) {
    .header-boot{
        background-color: red !important;
    }
    .content-boot{
        font-size: 20px;
        padding: 10px 0px;
    }
    .menu-boot{
        font-size: 20px;
    }

    .checkData{
        font-size: 20px;
    }

    .title-boot{
        font-size: 20px;
        padding: 10px 0px;
    }

    .value-boot{
        font-size: 20px;
        padding: 10px 0px;
    }
  }

@media screen and (max-width: 420px) {
    .header-boot{
        background-color: blue;
    }
    .content-boot{
        font-size: 20px;
        padding: 10px 0px;
    }
    .menu-boot{
        font-size: 20px;
    }

    .checkData{
        font-size: 20px;
    }

    .title-boot{
        font-size: 20px;
        padding: 10px 0px;
    }

    .value-boot{
        font-size: 20px;
        padding: 10px 0px;
    }
}
/* SLIDER BAR*/

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    /* opacity: 1; */
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
