<form (ngSubmit)="onSubmit()" #newdraft="ngForm">
  <div class="container">
      <!-- Numero do Cheque -->
    <div class="col-12 marginTop"><span class="detailsDescription"> Numero do Cheque </span></div>
    <div class="col-12">
      <div class="input-group mb-3">
        <input type="text" required minlength="8" class="form-control currencyInput" name="Number" [(ngModel)]="draft.draftNumber">
      </div>
    </div>
    <hr class="detailsHr" />

    <!-- Fornecedor -->
    <div class="col-12"><span class="detailsDescription"> Fornecedor </span></div>
    <div class="col-12">
      <div class="input-group mb-3">
        <input type="text" required class="form-control currencyInput" name="Supplier" [(ngModel)]="draft.supplier">
      </div>
    </div>
    <hr class="detailsHr" />

    <!-- Data de pagamento -->
    <div class="col-12"><span class="detailsDescription"> Data de pagamento </span></div>
    <div class="col-12">
      <input type="date" required [min]="today" class="form-control styledDatepicker" name="PaymentDate" [(ngModel)]="draft.paymentDate">
    </div>
    <hr class="detailsHr" />

    <!-- Valor -->
    <div class="col-12"><span class="detailsDescription"> Valor </span></div>
    <div class="col-12">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text currencySymbolContainer">€</span>
        </div>
        <input type="number" required class="form-control currencyInput" step="0.01" name="Value" [(ngModel)]="draft.value">
      </div>
    </div>
    <hr class="detailsHr" />

    <!-- Valor já obtido -->
    <div class="col-12"><span class="detailsDescription"> Valor já obtido </span></div>
    <div class="col-12">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text currencySymbolContainer">€</span>
        </div>
        <input type="number" class="form-control currencyInput" step="0.01" name="StoredUpValue" [(ngModel)]="draft.storedUpValue">
      </div>
    </div>
    <hr class="detailsHr" />

    <!-- Cheque -->
    <div class="col-12"><span class="detailsDescription"> Cheque </span></div>
    <div class="col-12">
        <img width="100%" [src]="draftPhoto" />
    </div>
    <hr class="detailsHr" />

    <!-- Observações -->
    <div class="col-12"><span class="detailsDescription"> Observações </span></div>
    <div class="col-12">
        <textarea class="form-control currencyInput justifyText" rows="{{rows}}" name="notes" [(ngModel)]="draft.notes"></textarea>
    </div>
    <hr class="detailsHr" />

    <!-- Pago? -->
    <div class="col-12"><span class="detailsDescription"> Pago? </span></div>
    <div class="col-12">
      <label class="switch">
        <input type="checkbox" name="isPaid" [(ngModel)]="draft.isPaid">
        <span class="slider round"></span>
      </label>
    </div>
    <hr class="detailsHr" />

    <!-- Cancelado? -->
    <div class="col-12"><span class="detailsDescription"> Cancelado? </span></div>
    <div class="col-12">
      <label class="switch">
        <input type="checkbox" name="isCanceled" [(ngModel)]="draft.isCanceled">
        <span class="slider round"></span>
      </label>
    </div>
    <hr class="detailsHr" />

    <!-- Perto da data de pagamento? -->
    <div class="col-12"><span class="detailsDescription"> Perto da data de pagamento? </span></div>
    <div class="col-12">
      <label class="switch">
        <input type="checkbox" name="isDateClose" [(ngModel)]="draft.isDateClose">
        <span class="slider round"></span>
      </label>
    </div>
    <hr class="detailsHr" />

    <!-- Ultrapassou o prazo e não foi pago? -->
    <div class="col-12"><span class="detailsDescription"> Ultrapassou o prazo e não foi pago? </span></div>
    <div class="col-12">
      <label class="switch">
        <input type="checkbox" name="isOutdatedAndNotPaid" [(ngModel)]="draft.isOutdatedAndNotPaid">
        <span class="slider round"></span>
      </label>
    </div>
    <hr class="detailsHr" />

  </div>

  <div class="col-12 centerBtn">
    <button class="btn space"
      [ngClass]="{'btn-danger btn-fuscia': !isUpdated, 'btn-success': isUpdated}"
      type="submit"
      [disabled]="newdraft.invalid">
      Gravar alterações
    </button>

    <button class="btn btn-dark" [routerLink]="['/listagem-de-cheques']">Voltar</button>
  </div>

</form>
