<!-- If it's a draft data -->
<a *ngIf="draftList?.id" [routerLink]="['/cheque-detalhado', draftList.id]" [queryParams]="{type: false}">
  <!-- <div class="row borderBottom" [ngClass]="{paid: draftList.isPaid}" [ngClass]="{dateClose: draftList.isDateClose && !draftList.isPaid}"> -->
  <div class="row borderBottom"
  [ngClass]="{
    paid: draftList.isPaid,
    canceled: draftList.isCanceled,
    dateClose: draftList.isDateClose && !draftList.isPaid,
    overdue: draftList.isOutdatedAndNotPaid && !draftList.isPaid && !draftList.isCanceled
  }" >
      <div class="col-8 data-boot">
      <div class="row">
          <div class="col-lg-12 checkData"><b>{{draftList.draftNumber }}</b></div>
          <div class="col-lg-12 checkData">{{ draftList.paymentDate | date: 'd' }} de {{ monthNames[draftList.paymentDate | date: 'MMMM']}} {{draftList.paymentDate | date: 'yyyy' }}</div>
      </div>
      </div>
      <div class="col-4 data-boot checkData">{{draftList.value | currency:'EUR'}} <span *ngIf="draftList.isPaid"><br>PAGO</span></div>
  </div>
</a>


<!-- If it's the month of the pack of drafts -->
<div *ngIf="draftList?.total " class="row month-row">
  <div class="col-5 month-name">
    <h5 align="center">{{draftList.month}}</h5>
  </div>

  <div class="col-1 month-name">
    <h5 align="center">-</h5>
  </div>

  <div class="col-5 month-name">
    <h5 align="center"> {{draftList.total | currency: 'EUR'}}</h5>
  </div>
</div>
