<div class="col-12"><span class="detailsDescription">{{ translator[data.Description] }} </span></div>

<div *ngIf="formatAsNormal.includes(data.Description)" class="col-12">
  <div class="input-group mb-3">
    <input type="text" class="form-control currencyInput" placeholder="Fornecedor" value="{{data.Value}}">
  </div>
</div>

<div *ngIf="formatAsDate.includes(data.Description)" class="col-12">
    <input type="date" class="form-control styledDatepicker" value="{{data.Value}}">
</div>

<div *ngIf="formatAsTextArea.includes(data.Description)" class="col-12">
    <textarea class="form-control currencyInput justifyText" rows="{{rows}}">{{data.Value}}</textarea>
</div>


<div *ngIf="formatAsCurrency.includes(data.Description)" class="col-12">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text currencySymbolContainer">€</span>
        </div>
        <input type="number" class="form-control currencyInput" step="0.01" value="{{data.Value}}">
      </div>
</div>


<div *ngIf="formatAsImage.includes(data.Description)" class="col-12">
  <img width="100%" [src]="draftPhoto" />
</div>

<div *ngIf="formatAsRadioBtn.includes(data.Description)" class="col-12">
  <label class="switch">
    <input type="checkbox" [checked]="data.Value" (click)="updateState($event, data.Description)">
    <span class="slider round"></span>
  </label>
</div>

<hr *ngIf="data.Description !== 'id'" class="detailsHr" />
