<!-- If it's a draft data -->
<div *ngIf="draftList?.id"
      class="row borderBottom"
      [ngClass]="{
        paid: draftList.isPaid,
        dateClose: draftList.isDateClose && !draftList.isPaid,
        overdue: draftList.isOutdatedAndNotPaid && !draftList.isPaid,
        canceled: draftList.isCanceled && !draftList.isPaid
      }">
  <a class="col-7 data-boot noPaddingRight checkData" [routerLink]="['/cheque-detalhado', draftList.id]" [queryParams]="{type: true}">
    <span [ngClass]="{paid: draftList.isPaid, dateClose: draftList.isDateClose && !draftList.isPaid, overdue: draftList.isOutdatedAndNotPaid && !draftList.isPaid, canceled: draftList.isCanceled && !draftList.isPaid}">
      <b>{{ draftList.paymentDate | date: 'd' }} de {{ monthNames[draftList.paymentDate | date: 'MMMM']}}</b>
      <br/>
      {{draftList.draftNumber }}
    </span>
  </a>
  <a class="col-3 data-boot checkData noPadding" [routerLink]="['/cheque-detalhado', draftList.id]" [queryParams]="{type: true}">
    {{draftList.value | currency:'EUR'}}
    <span *ngIf="draftList.isPaid"><br>PAGO</span>
    <span *ngIf="draftList.isCanceled && !draftList.isPaid"><br>ANULADO</span>
  </a>
  <div class="col-1 alignTextToCenter noPaddingLeft">
    <a (click)="onDelete(draftList.id);" class="btn btn-sm text-danger">
      <i class="fa fa-times-circle"></i>
    </a>
  </div>
  <div class="col-1 alignTextToCenter noPaddingLeft">
    <a (click)="onChange(draftList, 'paid');" class="btn btn-sm text-success">
      <i class="fa fa-check-circle"></i>
    </a>
    <a (click)="onChange( draftList, 'canceled');" class="btn btn-sm text-muted">
      <i class="fa fa-ban"></i>
    </a>
  </div>
</div>

<!-- If it's the month of the pack of drafts -->
<div *ngIf="draftList.month !== undefined" class="row month-row">
  <div class="col-6 month-name">
    <h5 align="center">{{draftList.month}} '{{draftList.year}}</h5>
  </div>

<!--   <div class="col-1 month-name">
    <h5 align="center">-</h5>
  </div> -->

  <div class="col-5 month-name">
    <h5 align="center"> {{draftList.total | currency: 'EUR'}}</h5>
  </div>
</div>
