<div class="row">
  <div class="col-8 title-boot"><b>Dados dos Cheque</b></div>
  <div class="col-4 value-boot"><b>Valor (€)</b></div>
</div>

<abd-draft-list-item *ngFor="let item of draftList" [draftList]="item" (deleted)="getDrafts()"></abd-draft-list-item>

