<div class="col-12"><span class="detailsDescription">{{ translator[data.Description] }} </span></div>

<div *ngIf="formatAsNormal.includes(data.Description)" class="col-12">
  <b>{{data.Value}}</b>
</div>

<div *ngIf="formatAsTextArea.includes(data.Description)" class="col-12 justifyText">
  <b>{{data.Value}}</b>
</div>

<div *ngIf="formatAsDate.includes(data.Description)" class="col-12">
  <b>{{ data.Value | date: 'd' }} de {{ months[data.Value | date: 'MMMM']}} {{data.Value | date: 'yyyy' }}</b>
</div>

<div *ngIf="formatAsCurrency.includes(data.Description)" class="col-12">
  <b>{{data.Value | currency: 'EUR'}}</b>
</div>

<div *ngIf="formatAsImage.includes(data.Description) && data.Value === null" class="col-12">
  <img src="../../../assets/example.jpg" />
</div>
<div *ngIf="formatAsImage.includes(data.Description) && data.Value !== null" class="col-12">
  <h6>{{data.Value}}</h6>
  <img [src]="createImgPath(data.Value)" />
</div>

<div *ngIf="formatAsRadioBtn.includes(data.Description)" class="col-12">
  <label class="switch">
    <input type="checkbox" [checked]="data.Value" [disabled]="true">
    <span class="slider round"></span>
  </label>
</div>

<hr *ngIf="data.Description !== 'id'" class="detailsHr" />
