@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body, html{
  margin: 0;
  padding: 0;
}

.noPadding{
  padding: 0 !important;
}

.noPaddingRight{
  padding-right: 0 !important;
}

.noPaddingLeft{
  padding-left: 0 !important;
}

.red{
  background-color: #FD706D;
}

.green{
  background-color: #97CDB4;
}

a{
  color: black !important;
}

.borderBottom{
  border-bottom: 1px solid lightgrey;
}

.rowHeader{
  color: white;
  background-color: #D2005C;
}

.header-boot{
  background-color: #97CDB4;
}

.menu-boot{
  font-size: 30px;
  /* background-color: #FD706D; */
}

.title-boot{
  font-size: 30px;
  text-align: center;
  /* background-color: #FD706D; */
}

.value-boot{
  font-size: 30px;
  text-align: center;
  /* background-color: #FD706D; */
}

.content-boot{
  font-size: 30px;
  /* background-color: #FECB65; */
}

.data-boot{
  /* background-color: #548BA4; */
}

.footer-boot{
  background-color: #97CDB4;
}

.checkData{
  font-size: 30px;
}

.textSize{
  font-size: 48px;
}

.paid{
  color: #0bba00;
}

.dateClose{
  background-color: #FFFFCB;
}

.overdue{
  color: red;
}

.canceled{
  color: rgbA(128, 128, 128, 0.5);
}

.month-row{
  background-color: #D2005C;
  color: white;
  font-weight: bold;
}

.detailsDescription{
  font-family: 'Montserrat', sans-serif;
  color: #cdcdcd;
}

.detailsHr{
  width: 95%;
  margin-left: 4%;
}

.space{
  margin-right: 2%;
}

.centerBtn{
  text-align: center;
  margin-bottom: 2%;
}

.btn-fuscia{
  background: #D2005C !important;
  border-color: #D2005C !important;
}

.btn-fuscia:hover{
  background: rgba( 210, 0, 92, 0.8) !important;
}

.btn-fuscia:focus{
  outline: none !important;
}

.currencySymbolContainer{
  background: #D2005C !important;
  color: white !important;
}

.currencyInput:focus{
  -webkit-box-shadow: 0px 0px 8px 2px rgba( 210, 0, 92, 0.8) !important;
  -moz-box-shadow: 0px 0px 8px 2px rgba( 210, 0, 92, 0.8) !important;
  box-shadow: 0px 0px 8px 2px rgba( 210, 0, 92, 0.8) !important;
}

.justifyText{
  text-align: justify;
}

.marginTop{
  margin-top: 3% !important;
}

.custom-file-label::after{
  background: #D2005C !important;
  color: white !important;
}

.styledDatepicker:focus{
  -webkit-box-shadow: 0px 0px 8px 2px rgba( 210, 0, 92, 0.8) !important;
  -moz-box-shadow: 0px 0px 8px 2px rgba( 210, 0, 92, 0.8) !important;
  box-shadow: 0px 0px 8px 2px rgba( 210, 0, 92, 0.8) !important;
}

.marginLeft{
  margin-left: 3%;
}

.alignTextToCenter{
  text-align: center;
}

@media screen and (max-width: 360px) {
  .header-boot{
      background-color: red !important;
  }
  .content-boot{
      font-size: 20px;
      padding: 10px 0px;
  }
  .menu-boot{
      font-size: 20px;
  }

  .checkData{
      font-size: 17px;
  }

  .title-boot{
      font-size: 20px;
      padding: 10px 0px;
  }

  .value-boot{
      font-size: 20px;
      padding: 10px 0px;
  }
}

@media screen and (max-width: 420px) {
  .header-boot{
      background-color: blue;
  }
  .content-boot{
      font-size: 20px;
      padding: 10px 0px;
  }
  .menu-boot{
      font-size: 20px;
  }

  .checkData{
      font-size: 17px;
  }

  .title-boot{
      font-size: 20px;
      padding: 10px 0px;
  }

  .value-boot{
      font-size: 20px;
      padding: 10px 0px;
  }
}
