<div class="container">
  <div *ngFor="let item of draft | keyvalue: descOrder"  style="margin: 0 !important; padding: 0 !important; margin-top: 4% !important">
      <abd-draft-details-item [data]="{Description: item.key, Value: item.value}"></abd-draft-details-item>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 centerBtn">
        <button *ngIf="!draft.isPaid && !draft.isCanceled" class="btn btn-dark space btn-fuscia" [routerLink]="['/atualizar-cheque', draft.id]">Atualizar cheque</button>
        <button class="btn btn-dark" [routerLink]="[path]">Voltar</button>
      </div>
    </div>
  </div>
</div>
